body{
    background: url(https://images.pexels.com/photos/27406/pexels-photo-27406.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    font-family:Microsoft JhengHei;
}
nav{
    position:fixed;
    top:0px;
    background-color: rgba(255, 255, 255, 0.4);
}

.seg1{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
}

.seg1 .container{
    max-width: 40%;
    padding:15px;
    text-align:center;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
}

.seg1 .container h4{
    font-family: monospace;
}